/*
 
 Annotation

 1. Common classes and helpers
 2. Slider
 3. Cards
 4. Breadcrumbs
 5. Header
 6. Modals
 7. Search
 8. Find shipping page
 9. Contacts
 10. Tooltip
 11. Product
 12. Footer
 13. Media queries
 14. Pages

*/

/* 1. Common classes and helpers */

html {
    position: relative;
    min-height: 100%;
    font-size: 15px;
}

body {
    margin: 0 0 70px;
}

@font-face {
    font-family: "costumfont";
    src: url('../fonts/2219.ttf');
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.devider {
    color: #0091ea;
    padding-bottom: 30px;
    width: 60%;
    margin: auto;
}

.devider-product-description {
    margin-bottom: 30px;
}

.devider-span {
    color: #0091ea;
    margin-bottom: 30px;
    margin-top: 22px;
}

.image-padding {
    padding: 10px 10px 5px 10px;
}

.zero-padding-right {
    padding-right: 0px !important;
}

.inline-block {
    display: inline-block;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.zero-padding {
    padding: 0px;
}

.zero-padding-left {
    padding-left: 0px !important;
}

/* 2. Slider */

.slider-img {
    height: auto;
    max-height: 250px;
    width: 100%;
}

.my-slider {
    margin-top: 20px;
}

.slider-no-display {
    display: none;
}

/* 3. Cards */

.h1-for-groups-index {
    font-size: 1.46em;
    font-weight: 300;
    color: #0091ea;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 2;
}

.minicard {
    margin: auto;
    padding: 10px;
    width: 19.7%;
    display: inline-block;
}

.card {
    color: #37474f;
}

.category-card {
    height: 350px;
    overflow: hidden;
}

.img-border {
    border: 1px solid #0091ea;
    background-color: white;
    padding: 3px;
    border-radius: 0 35px !important;
}

.card-content-text-container {
    padding: 0 10px 0 10px !important;
    display: table;
    height: 115px;
    width: 100%;
}

/* 4. Breadcrumbs */


.breadcrumbs {
    background-color: #fafafa;
}

.breadcrumbs-wrapper {
    border: 0px;
    background-color: #fafafa;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 00);
}

.breadcrumbs-wrapper a {
    color: #455a64;
}

.breadcrumbs-wrapper a:before {
    color: #37474f;
}

.breadcrumb {
    font-size: 1.06em;
    color: #64b5f6 !important;
}

.breadcrumb-active {
    color: #546e7a !important;
}

.breadcrumb-active:hover {
    cursor: default;
}

/* 5. Header */

.top-menu {
    max-height: 70px;
}

.social-bar {
    padding-top: 7px;
}

.social-icons {
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 7px;
}

.vk {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/icons/vk.png);
    background-size: 24px 24px;
    opacity: 0.85;
}

.fb {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../img/icons/fb.png);
    background-size: 24px 24px;
    opacity: 0.85;
}

.fb:hover,
.vk:hover {
    opacity: 1;
}

.contacts-btn-header {
    border: 2px solid white;
    padding: 3px 5px;
    border-radius: 7px;
    font-weight: 500;
    margin-right: 10px;
    font-size: 1.3em;
    font-family: costumfont, sans-serif;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.contacts-btn-header:hover {
    background: #607d8b;
}

.header-links-container {
    height: 64px;
}

.menu-items li a {
    font-size: 1.40em;
    font-family: costumfont;
    padding-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
}

.menu-items li a:after {
    content: '';
    width: 0%;
    position: absolute;
    left: 10%;
    bottom: 17px;
    border-width: 0 0 1px;
    border-style: solid;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.5) !important;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.menu-items li a:hover:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 17px;
    border-width: 0 0 1px;
    border-style: solid;
    box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.5) !important;
}

.logo {
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: 500;
}

.side-menu-li {
    text-align: center;
    color: #263238;
    font-weight: 500;
}

/* 6. Modals */

.modal {
    width: 80%;
}

.modal-order {
    width: 90%;
}

#contactsModal {
    width: 70%;
}

.contact-us-btn {
    position: fixed;
    bottom: 62px;
    right: 30px;
}

#send-letter-modal {
    width: 40%;
}

/* 7. Search */

#search {
    color: white;
    height: 30px;
    border-bottom: 1px solid #90caf9;
}

#search:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #82b1ff;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

.search-wrapper {
    width: 220px;
    margin: 0px auto 50px auto;
    margin-top: 17px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .4) inset, 0 0px 0 rgba(255, 255, 255, .2);
}

.search-wrapper input {
    width: 138px;
    height: 10px;
    padding: 10px 5px;
    color: #607d8b;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #EEE;
    border-radius: 3px 0 0 3px;
    border-bottom: 0px !important;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}


/* Form submit button */

.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 72px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: white;
    text-transform: uppercase;
    background: #607d8b;
    transition: background .5s ease;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover {
    background: #455a64;
}

.search-wrapper button:active,
.search-wrapper button:focus {
    background: #455a64;
    outline: 0;
}
/*
.search-wrapper button:before {
    left arrow
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #607d8b transparent;
    top: 8px;
    left: -6px;
    transition: background .5s ease;
}
*/

.search-wrapper button:hover:before {
    border-right-color: #455a64;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
    border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
    /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

.search-btn {
    font-size: 1.86em !important;
    position: absolute;
    height: 28px !important;
    top: -16px;
    left: 25px;
}

/* 8. Find shipping page */

.forgot-pass {
    font-style: italic;
    padding-top: 10px;
}

.log-in-btn {
    margin-top: 0;
}

/* 9. Contacts */

.modal-content {
    height: 100% !important;
}

.close-symbol {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.contacts-submit-btn {
    margin-top: 30px;
}

#name:focus,
#inn:focus,
#password:focus,
#name-bottom:focus,
#name-order:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}

#name:focus+label,
#inn:focus+label,
#password:focus+label,
#name-bottom:focus+label,
#name-order:focus+label {
    color: #2196f3;
}

#email:focus,
#email-bottom:focus,
#email-order:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}

#email:focus+label,
#email-bottom:focus+label,
#email-order:focus+label {
    color: #2196f3;
}

#tel:focus,
#tel-bottom:focus,
#tel-order:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}

#tel:focus+label,
#tel-bottom:focus+label,
#tel-order:focus+label {
    color: #2196f3;
}

#message:focus,
#message-bottom:focus,
#message-order:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}

#message:focus+label,
#message-bottom:focus+label,
#message-order:focus+label {
    color: #2196f3;
}

.toast-style {
    color: #263238;
    width: auto;
    height: auto;
}

/* 10. Tooltip */

.backdrop {
    background-color: #64b5f6;
}


/* 11. Product */

.pdf-download-link {
    color: #2196F3 !important;
}

.pdf-download-link:hover {
    color: #2979ff  !important;
    background-color: #eceff1 !important; 
}

.pdf-collection-container {
    padding: 0 !important;
    margin: 20px auto 0;
    display: inline-block;
}

.product {
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
}

.product-specification {
    margin-top: 20px;
}

.h5-for-product {
    font-weight: 400;
    color: #263238;
    margin-top: 0px;
    line-height: 2;
}

.width-24px {
    width: 24px;
}

.shipping-icon {
    cursor: default;
}

.download-ru-container {
    padding-top: 30px;
}

.download-ru-icon {
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
}

.download-ru-text {
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
}

.shipping-icon:hover {
    color: #42a5f5;
}

.order-btn {
    margin-top: 30px;
}

#message-order {
    min-height: 226px;
}

.message-order-disabled {
    min-height: 150px !important;
}

.order-input:focus {
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

.order-input {
    width: 25px !important;
    height: 22px !important;
    border: 0px solid black !important;
    text-align: center;
}

.trash-btn {
    font-size: 2em !important;
    cursor: pointer;
    padding-left: 3px;
    vertical-align: middle;
    display: inline-block;
    opacity: 0.55;
    -webkit-transition: all 1s;
    /* Safari */
    transition: all 1s;
}

.trash-btn:hover {
    opacity: 1;
}

.order-number-btn-minus {
    border: 1px solid #42a5f5;
    padding: 0 !important;
    padding-bottom: 5px !important;
    text-align: center !important;
    text-decoration: none;
    display: inline-block;
    font-size: 1.06em;
    height: 23px;
    width: 23px;
}

.order-number-btn-plus {
    border: none;
    color: white;
    padding: 0 !important;
    padding-bottom: 5px !important;
    text-align: center !important;
    text-decoration: none;
    display: inline-block;
    font-size: 1.06em;
    height: 23px;
    width: 23px;
}

.btns-paddingtop {
    padding: 0px !important;
    padding-top: 7px !important;
}


/* Product tables*/

#product-content hr {
    margin: 50px;
}

.minified {
    padding: 5px;
    font-size: 12px;
}

table thead td {
    font-weight: 500;
}

/* Product Slider */

.slider-thumbs-horizontal {
    margin-top: 0px;
}

.slider-thumbs-horizontal li {
    display: inline-block;
    padding: 5px;
    padding-bottom: 0px;
    border: 2px solid #90a4ae;
    border-radius: 5px;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 18.5%;
    margin-right: 5px;
    margin-bottom: 10px;
}

.slider-thumbs-horizontal li:hover {
    opacity: 0.6;
    border-color: #42a5f5;
}

.slider-thumbs-horizontal li a img {
    width: 100%;
    height: auto;
}

#slideshow {
    height: auto;
    margin-bottom: 25px;
}

.card-content-text {
    display: table-cell;
    vertical-align: middle;
}

/* 12. Footer */

.footer-style {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #546e7a;
}

.footer-style div div p {
    margin-bottom: 0;
}

.footer-style div div {
    margin-bottom: 0;
}

.centered-text {
    text-align: center;
    color: white;
    /*color: rgba(255, 255, 255, 0.541176);*/
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.padding-top {
    padding-top: 10px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 80px;
}

/* 13. Media queries */

@media screen and (min-width: 1380px) {
    .container {
        min-width: 1280px !important;
    }
    .hide-on-desktop {
        display: none;
    }
    .category-card {
        overflow: hidden;
    }
    .minicard {
        width: 19.4%;
        margin-left: 0.3%;
    }
    .card-content-text-container {
        text-align: center;
        height: 54px;
        line-height: 54px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    /* center classes */
    .class1of5 {
        margin-left: 40.3% !important;
    }
    .class2of5 {
        margin-left: 30% !important;
    }
    .class2of5~.class2of5 {
        margin-left: 0.3% !important;
    }
    .class3of5 {
        margin-left: 20.3% !important;
    }
    .class3of5~.class3of5 {
        margin-left: 0.3% !important;
    }
    .class4of5 {
        margin-left: 10.5% !important;
    }
    .class4of5~.class4of5 {
        margin-left: 0.3% !important;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1380px) {
    .container {
        min-width: 1180px !important;
    }
    .hide-on-desktop {
        display: none;
    }
    .menu-items li a {
        padding: 0 10px;
        font-size: 19px;
    }
    .category-card {
        overflow: hidden;
    }
    .minicard {
        width: 19.4%;
        margin-left: 0.3%;
    }
    .card-content-text-container {
        text-align: center;
        height: 54px;
        line-height: 54px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    /* center classes */
    .class1of5 {
        margin-left: 40.3% !important;
    }
    .class2of5 {
        margin-left: 30% !important;
    }
    .class2of5~.class2of5 {
        margin-left: 0.3% !important;
    }
    .class3of5 {
        margin-left: 20.3% !important;
    }
    .class3of5~.class3of5 {
        margin-left: 0.3% !important;
    }
    .class4of5 {
        margin-left: 10.5% !important;
    }
    .class4of5~.class4of5 {
        margin-left: 0.3% !important;
    }
}

@media screen and (min-width: 1130px) and (max-width: 1280px) {
    /* breakpoint for 4 products */
    .hide-on-desktop {
        display: none;
    }
    .modal {
        width: 80%;
    }
    #send-letter-modal {
        width: 50%;
    }
    .menu-items li a {
        padding: 0 12px;
        font-size: 19px;
    }
    .contacts-btn-header {
        font-size: 18px;
    }
    .show-on-phone {
        display: none;
    }
    .container {
        width: 95%;
    }
    .category-card {
        overflow: hidden;
    }
    .minicard {
        width: 24%;
        margin-left: 0.7%;
    }
    .card-content-text-container {
        text-align: center;
        height: 54px;
        line-height: 54px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    /* center classes */
    .class1of4 {
        margin-left: 37% !important;
    }
    .class2of4 {
        margin-left: 24.9% !important;
    }
    .class2of4~.class2of4 {
        margin-left: 0.3% !important;
    }
    .class3of4 {
        margin-left: 13% !important;
    }
    .class3of4~.class3of4 {
        margin-left: 0.3% !important;
    }
    html {
        position: relative;
        min-height: 100%;
        font-size: 15px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1130px) {
    .modal {
        width: 80%;
    }
    #send-letter-modal {
        width: 60%;
    }
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: block !important;
    }
    .show-on-phone {
        display: none;
    }
    .container {
        width: 95%;
    }
    .category-card {
        overflow: hidden;
    }
    .minicard {
        width: 24%;
        margin-left: 0.3%;
    }
    .card-content-text-container {
        text-align: center;
        height: 54px;
        line-height: 54px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    /* center classes */
    .class1of4 {
        margin-left: 37% !important;
    }
    .class2of4 {
        margin-left: 24.9% !important;
    }
    .class2of4~.class2of4 {
        margin-left: 0.3% !important;
    }
    .class3of4 {
        margin-left: 13% !important;
    }
    .class3of4~.class3of4 {
        margin-left: 0.3% !important;
    }
}

@media screen and (min-width: 880px) and (max-width: 992px) {
    /* breakpoint for 4 products */
    .modal {
        min-width: 80%;
    }
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: block !important;
    }
    .show-on-phone {
        display: none;
    }
    .container {
        width: 95%;
    }
    .category-card {
        height: 260px;
        overflow: hidden;
    }
    .minicard {
        width: 24%;
        margin-left: 0.3%;
    }
    .card-content-text-container {
        text-align: center;
        height: 54px;
        line-height: 54px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    /* center classes */
    .class1of4 {
        margin-left: 37% !important;
    }
    .class2of4 {
        margin-left: 24.9% !important;
    }
    .class2of4~.class2of4 {
        margin-left: 0.3% !important;
    }
    .class3of4 {
        margin-left: 13% !important;
    }
    .class3of4~.class3of4 {
        margin-left: 0.3% !important;
    }
}

@media screen and (min-width: 670px) and (max-width: 880px) {
    /* breakpoint for 3 products */
    .modal {
        min-width: 80%;
    }
    .hide-on-mobile {
        display: none;
    }
    .container {
        width: 95%;
    }
    .footer-style {
        height: 100px;
    }
    body {
        margin: 0 0 100px;
    }
    .show-on-mobile {
        display: block !important;
    }
    .show-on-phone {
        display: none;
    }
    .category-card {
        height: 295px;
        overflow: hidden;
    }
    .minicard {
        width: 31%;
        margin-left: 1%;
    }
    .card-content-text-container {
        text-align: center;
        height: 54px;
        line-height: 54px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    .class1of3 {
        margin-left: 33.5% !important;
    }
    .class2of3 {
        margin-left: 15.9% !important;
    }
    .class2of3~.class2of3 {
        margin-left: 0.3% !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 670px) {
    /* breakpoint for 2 products */
    .modal {
        min-width: 90%;
    }
    .footer-style {
        height: 130px;
    }
    body {
        margin: 0 0 130px;
    }
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: block !important;
    }
    .contact-us-hide {
        display: none;
    }
    .container {
        width: 90%;
    }
    .show-on-phone {
        display: block;
    }
    .category-card {
        height: 300px;
        overflow: hidden;
    }
    .minicard {
        width: 48%;
        margin-left: 1%;
    }
    .card-content-text-container {
        text-align: center;
        height: 60px;
        line-height: 60px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    /* center classes */
    .class1of2 {
        margin-left: 30% !important;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .search-wrapper {
        width: 180px;
    }
    .search-wrapper button {
        width: 40px;
    }
    .search-wrapper input {
        width: 130px;
    }
    .width-100 {
        min-width: 90px;
    }
    .container {
        width: 90%;
    }
    .search-btn {
        top: -12px;
        left: 6px;
        font-size: 12px;
    }
    .modal {
        min-width: 90%;
    }
    .contact-us-hide {
        display: none;
    }
    .show-on-phone {
        display: block;
    }
    .search-block {
        margin-top: -4px !important;
    }
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: block !important;
    }
    .category-card {
        height: 260px;
        overflow: hidden;
    }
    .minicard {
        width: 48%;
        margin-left: 1%;
    }
    .card-content-text-container {
        text-align: center;
        height: 62px;
        line-height: 62px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    /* center classes */
    .class1of2 {
        margin-left: 28% !important;
    }
    .footer-style {
        height: 170px;
    }
    body {
        margin: 0 0 170px;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .search-wrapper {
        width: 180px;
    }
    .search-wrapper button {
        width: 40px;
    }
    .search-wrapper input {
        width: 130px;
    }
    .width-100 {
        min-width: 90px;
    }
    .container {
        width: 95%;
    }
    .search-btn {
        top: -12px;
        left: 6px;
        font-size: 12px;
    }
    .modal {
        min-width: 90%;
    }
    .contact-us-hide {
        display: none;
    }
    .show-on-phone {
        display: block;
    }
    .search-block {
        margin-top: -4px !important;
    }
    .hide-on-mobile {
        display: none;
    }
    .show-on-mobile {
        display: block !important;
    }
    .category-card {
        height: 260px;
        overflow: hidden;
    }
    .minicard {
        width: 48%;
        margin-left: 1%;
    }
    .card-content-text-container {
        text-align: center;
        height: 62px;
        line-height: 62px;
        width: 100%
    }
    .card-content-text-container span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    /* center classes */
    .class1of2 {
        margin-left: 26% !important;
    }
    .footer-style {
        height: 170px;
    }
    body {
        margin: 0 0 170px;
    }
}

/* 14. Pages */

/* Search page */

.h1-for-search-page {
    font-size: 1.46em;
    color: #37474f; 
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 2;
}